<link rel="stylesheet" href="/styles/settings/change_password.css">
<main role="main" class="pt-3">
	<div class="d-flex justify-content-center flex-wrap">
		<div class="col-sm-7 col-md-5 order-md-1">
			<form role="form" id="inputForm" class="flex-column w-100 justify-content-center">
				<div data-error="true" class="form-group">
					<label>Новый пароль {{#if employee}}
					<small class="text-muted">({{employee.fullname}})</small>{{/if}}</label>
					<input class="form-control" name="password" id="newPassword" type="password" pattern="^.{5,}$" placeholder=""
					 autofocus required>
				</div>

				<div data-error="true" class="form-group pt-2">
					<label>Повторите пароль</label>
					<input class="form-control" name="password2" type="password" placeholder="" required>
				</div>

				<div data-error="true" class="form-group pt-2">
					<button class="btn btn-info w-50" id="changePasswordBtn" {{#if employee}} data-user_id="{{employee.id}}" {{/if}}
					 type="button">Сменить</button>
				</div>
			</form>
		</div>
	</div>
</main>
<script src="/javascripts/settings/change_password.js"></script>