<link rel="stylesheet" href="/styles/index/home.css">
<main role="main" class="col-md-12">
	<div class="d-flex justify-content-between flex-wrap flex-row pt-3 pb-2 border-bottom">
		<h4>Добро пожаловать, {{user.fullname}}!</h4>
		<div class="btn-group mb-1" role="group" aria-label="Button Group">
			<a href="/docs/user/{{user.id}}" role="button" class="btn btn-outline-secondary" id="user-records">
				Мои записи
			</a>
			<a href="/docs/all" role="button" class="btn btn-outline-secondary" id="all-records">
				Все записи
			</a>
			<a href="/docs/identifiers" role="button" class="btn btn-outline-secondary" id="identifiers-records">
				Идентификаторы
			</a>
		</div>
	</div>
</main>