<div class="row">
    <div class="col-lg-12">
        &nbsp;
    </div>
</div>


<h3 class="mx-3">Добро пожаловать, {{user.fullname}}!</h3>
<small class="mx-3">Здесь будет отображаться число добавленных Вами записей.</small>