<link rel="stylesheet" href="/styles/index/home.css">
<main role="main" class="col-md-12">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h4>Добро пожаловать, {{user.fullname}}!</h4>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<a href="/docs/user/{{user.id}}" role="button" class="btn btn-md btn-outline-secondary" id="user-records">Мои записи</a>
				<a href="/docs/all" role="button" class="btn btn-md btn-outline-secondary" id="all-records">Все записи</a>
				<a href="/docs/identifiers" role="button" class="btn btn-md btn-outline-secondary" id="identifiers-records">Идентификаторы</a>
			</div>
		</div>
	</div>

	{{!-- <h4 class="pt-3">Список всех записей</h4> --}}
	{{!-- <div class="table-responsive pt-2 all-records-table">
		<caption>Список всех записей</caption>
		<table class="table table-hover table-sm">
			<thead class="thead-light">
				<tr>
					<th scope="col">№</th>
					<th scope="col">ОВД</th>
					<th scope="col">ЕК</th>
					<th scope="col">Статья УК</th>
					<th scope="col">Фабула</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">1</td>
					<td>Lorem</td>
					<td>ipsum</td>
					<td>dolor</td>
					<td>sit</td>
				</tr>
				<tr>
					<td scope="row">2</td>
					<td>amet</td>
					<td>consectetur</td>
					<td>adipiscing</td>
					<td>elit</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>Integer</td>
					<td>nec</td>
					<td>odio</td>
					<td>Praesent</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>libero</td>
					<td>Sed</td>
					<td>cursus</td>
					<td>ante</td>
				</tr>
				<tr>
					<td scope="row">4</td>
					<td>dapibus</td>
					<td>diam</td>
					<td>Sed</td>
					<td>nisi</td>
				</tr>
				<tr>
					<td scope="row">5</td>
					<td>Nulla</td>
					<td>quis</td>
					<td>sem</td>
					<td>at</td>
				</tr>
				<tr>
					<td scope="row">6</td>
					<td>nibh</td>
					<td>elementum</td>
					<td>imperdiet</td>
					<td>Duis</td>
				</tr>
				<tr>
					<td scope="row">7</td>
					<td>sagittis</td>
					<td>ipsum</td>
					<td>Praesent</td>
					<td>mauris</td>
				</tr>
				<tr>
					<td scope="row">8</td>
					<td>Fusce</td>
					<td>nec</td>
					<td>tellus</td>
					<td>sed</td>
				</tr>
				<tr>
					<td scope="row">9</td>
					<td>augue</td>
					<td>semper</td>
					<td>porta</td>
					<td>Mauris</td>
				</tr>
				<tr>
					<td scope="row">10</td>
					<td>massa</td>
					<td>Vestibulum</td>
					<td>lacinia</td>
					<td>arcu</td>
				</tr>
				<tr>
					<td scope="row">11</td>
					<td>massa</td>
					<td>Vestibulum</td>
					<td>lacinia</td>
					<td>arcu</td>
				</tr>
				<tr>
					<td scope="row">12</td>
					<td>massa</td>
					<td>Vestibulum</td>
					<td>lacinia</td>
					<td>arcu</td>
				</tr>
			</tbody>
		</table>
	</div> --}}
	{{!-- <div class="table-responsive pt-2 user-records-table">
		<caption>Список моих записей</caption>
		<table class="table table-hover table-sm">
			<thead class="thead-light">
				<tr>
					<th scope="col">№</th>
					<th scope="col">ОВД</th>
					<th scope="col">ЕК</th>
					<th scope="col">Статья УК</th>
					<th scope="col">Фабула</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">1</td>
					<td>Lorem</td>
					<td>ipsum</td>
					<td>dolor</td>
					<td>sit</td>
				</tr>
				<tr>
					<td scope="row">2</td>
					<td>amet</td>
					<td>consectetur</td>
					<td>adipiscing</td>
					<td>elit</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>Integer</td>
					<td>nec</td>
					<td>odio</td>
					<td>Praesent</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>libero</td>
					<td>Sed</td>
					<td>cursus</td>
					<td>ante</td>
				</tr>
				<tr>
					<td scope="row">4</td>
					<td>dapibus</td>
					<td>diam</td>
					<td>Sed</td>
					<td>nisi</td>
				</tr>
				<tr>
					<td scope="row">5</td>
					<td>Nulla</td>
					<td>quis</td>
					<td>sem</td>
					<td>at</td>
				</tr>
				<tr>
					<td scope="row">6</td>
					<td>nibh</td>
					<td>elementum</td>
					<td>imperdiet</td>
					<td>Duis</td>
				</tr>
				<tr>
					<td scope="row">7</td>
					<td>sagittis</td>
					<td>ipsum</td>
					<td>Praesent</td>
					<td>mauris</td>
				</tr>
			</tbody>
		</table>
	</div> --}}
</main>

{{!--
<script src="/javascripts/index/home.js"></script> --}}