<main role="main">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3">
		<div class="col-md-9 order-md-1">
			<h4 class="mb-4">Добавление новой записи</h4>
			<form role="form" id="inputForm">
				<div class="form-group row">
					<div class="col-md-6 mb-3">
						<label for="firstName">Сотрудник *</label>
						<input type="text" class="form-control" id="firstName" name="employee" placeholder="ФИО сотрудника" value="{{user.fullname}}"
						 required readonly>
					</div>
					<div class="col-md-6 mb-3">
						<label for="service">Орган внутренних дел *</label>
						<input class="form-control" id="service" name="service" value="{{user.department}}" required readonly>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-4 mb-3">
						<label for="book-number">Номер ЕК *</label>
						<input type="number" min="1" class="form-control" id="book-number" name="book_number" required>
					</div>
					<div class="col-md-4 mb-3">
						<label for="registrationDate">Дата регистрации *</label>
						<input type="date" class="form-control registrationDate" id="registrationDate" name="registration_date" required>

					</div>
					<div class="col-md-4 mb-3">
						<label for="cc_article">Статья УК *</label>
						<select class="form-control" id="cc_article" name="cc_article" required>
							<option value="">Выберите статью...</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="description">Фабула *</label>
					<!-- <input type="text" class="form-control" id="description" placeholder="Описание" value="" required> -->
					<textarea class="form-control" rows="6" id="description" name="description" placeholder="Введите описание" value=""
					 required aria-label="Описание"></textarea>
				</div>

				<div class="form-group mb-4">
					<label for="comment">Примечание</label>
					<input type="text" class="form-control" id="comment" name="comment">
				</div>

				<hr class="mb-4">
				<h4 class="mb-3">Срок рассмотрения материала:
					<small class="deadline text-muted" name="deadline" readonly></small>
				</h4>

				<div class="form-group row">
					<div class="col-md-8 mb-3">
						<label for="phase">Состояние</label>
						<select class="form-control" id="phase" name="phase">
							<option value="">Выберите состояние...</option>
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="phase_date">Дата</label>
						<input type="date" class="form-control" id="phase_date" name="phase_date" placeholder="" disabled>
					</div>
				</div>

				<hr class="mb-4">
				<h4 class="mb-3">Процессуальное решение:</h4>

				<div class="form-group row">
					<div class="col-md-8 mb-3">
						<label for="decision">Решение по делу *</label>
						<select class="form-control" id="decision" name="decision" required>
							<option value="">Выберите решение...</option>
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="decisionDate">Дата *</label>
						<input type="date" class="form-control" id="decisionDate" name="decision_date" placeholder="" required>
					</div>
				</div>

				<hr class="mb-4">
				<div class="dynamicIdentifiersContainer">
					<div class="form-group row">
						<div class="col-md-3 mb-3">
							<span class="h4">Идентификатор:</span>
						</div>
						<div class="col-md-9 mb-3">
							<button class="btn btn-secondary btn-sm d-flex" id="showIdFieldsBtn" type="button" value='Добавление'>
								Добавить
							</button>
						</div>
					</div>
				</div>

				<hr class="mb-4">
				<button class="btn btn-info btn-lg btn-block mb-4" id="add_record_btn" type="submit">Добавить запись</button>
			</form>
		</div>
	</div>
</main>

<script src="/javascripts/docs/options/articles_list.js"></script>
<script src="/javascripts/docs/options/decisions_list.js"></script>
<script src="/javascripts/docs/options/phase_list.js"></script>
<script src="/javascripts/docs/add_record.js"></script>