<div class="row pt-4">
	<div class="col-md-12">
		{{#if error}}
		{{else}}
		<a href="/docs/all/" class="font-weight-bold h5">Просмотреть все записи</a><br>
		{{/if}}
		<a href="/docs/new/" class="font-weight-bold h5">Внести еще одну запись</a><br>
	</div>
</div>